<div class="omni-calculator" data-calculator="construction/board-foot" data-width="300" data-config='{}' data-currency="USD" data-show-row-controls="false" data-version="3" data-t="1601200656833">
    <div class="omni-calculator-header">Board Foot Calculator</div>
    <div class="omni-calculator-footer">
      <a href="https://www.omnicalculator.com/construction/board-foot" target="_blank"><img alt="Omni" class="omni-calculator-logo" src="https://cdn.omnicalculator.com/embed/omni-calculator-logo-long.svg" /></a>
    </div>
  </div>
  <script async src="https://cdn.omnicalculator.com/sdk.js"></script>